body{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main_content" "footer";
  background-color: beige;
  gap: 30px;
}

header{
  grid-area: header;
  justify-self: center;
  align-self: center;
}

#footer{
    grid-area: footer;
  }
  
  

/* css for the button */
#surveyButton{
  
    
    padding: 15px 32px;
    margin: 10px;
    background-color: #b4811c;
    cursor: pointer;
}

/* css for button to get rid of the underline */
#surveyButton a{

  color: aliceblue;
  font-style: oblique;


}

/* #placeForButtons{
  grid-area: buttonHome;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
} */


#the_map{
  height:80vh;
  grid-area: main_map;
  grid-template-columns: .33fr .66fr;
  grid-template-areas: "scrollarea spacing";
  display: grid;


}

#spacing{
  grid-area: spacing;
}

#footer{
grid-area: footer;
}

.main{
grid-area: main_content;
grid-template-columns: 1fr;
grid-template-rows: auto auto;
grid-template-areas:"main_map" "content";
display: grid;
gap: 20px;
}

#contents{
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-areas:"chart"
}

#chart-container{
  grid-area:chart;
}

#theSurvey{
  grid-area: survey;
 /* added this to center the button in the div */
}

/* css for the button */
#surveyButton{
  grid-area:survey;
  padding: 20px 15px;
  margin: 20px;
  background-color: #b4811c;
  cursor: pointer;

}

/* css for button to get rid of the underline */
#surveyButton a{
color: aliceblue;
font-style: oblique;
}

.highlightCard{
  color: yellow;
  border-color: gold;
  border: 10px solid;
}

#scrollArea {
  display: grid;
  grid-column: 0;
  grid-row: 0;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-left: 20px;
  grid-area: scrollarea;
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.5);
  z-index: 99999;
  direction: rtl;
  
  /* display: block; */
}

.defaultCards {
  /* display: grid; */
  grid-column: 1;
  padding: 20px;
  /* padding:300px; */
  grid-template-rows: max-content 200px .2fr;
  direction: ltr !important;
}

.defaultCards .title{
  /* grid-row:1; */
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.defaultCards p{
  /* grid-row:2; */
}